<!DOCTYPE html>
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="ISO-8859-1">
    <title>Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" href=""/>
    <link rel="stylesheet" th:href="@{/css/containers.css}" href="">
</head>
<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="category w-100">
        <div class="container-fluid my-2">
            <div class="card">
                <div class="card-header">
                    <div class="container-fluid d-flex justify-content-between align-items-center">
                        <h3 class="mb-0">Orders</h3>
                        <a th:href="@{/orders/add}" class="btn btn-primary">
                            <i class="bi bi-plus"></i> Add Order </i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form th:action="@{/orders/search}" method="GET">
                            <div class="d-flex justify-content-between align-items-center gap-x-4">

                                <select class="form-control mr-sm-2" id="student"
                                        name="studentId">
                                    <option value="">Search Order by Student</option>
                                    <option th:each="student : ${students}"
                                            th:value="${student.id}"
                                            th:text="${student.name + ' ' + student.surname}"
                                    >
                                    </option>
                                </select>

                                <select class="form-control mr-sm-2" id="book" name="bookId">
                                    <option value="">Search Order by Book</option>
                                    <option th:each="book : ${books}"
                                            th:value="${book.id}"
                                            th:text="${book.name}">
                                    </option>
                                </select>

                                <button class="btn btn-primary">Search</button>
                                <button class="btn btn-done ml-2" type="button" onclick="resetForm()">Clear</button>
                            </div>
                        </form>
                    </div>
                    <div th:switch="${orders}" class="my-5">
                        <div class="col-md-12">
                            <h2 th:case="null">No record found !!</h2>
                            <div th:case="*">
                                <table class="table table-bordered table-hover table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Student FIN</th>
                                        <th>Student Name</th>
                                        <th>Books</th>
                                        <th>In Progress</th>
                                        <th>In Delay</th>
                                        <th>Created At</th>
                                        <th>Finished At</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order: ${orders}" class="col-lg-6">
                                        <td th:text="${order.id}"></td>
                                        <td th:text="${order.studentFin}"></td>
                                        <td th:text="${order.studentFullName}"></td>
                                        <td>
                                            <p th:each="book : ${order.books}" th:text="${book}"></p>
                                        </td>
                                        <td>
                                            <span th:if="${order.inProgress}"
                                                  class="badge-pill badge-success">Yes</span>
                                            <span th:unless="${order.inProgress}"
                                                  class="badge-pill badge-danger">No</span>
                                        </td>
                                        <td>
                                            <span th:if="${order.inDelay}" class="badge-pill badge-success">Yes</span>
                                            <span th:unless="${order.inDelay}" class="badge-pill badge-danger">No</span>
                                        </td>
                                        <td th:text="${#temporals.format(order.createdAt, 'dd.MM.yyyy')}"></td>
                                        <td th:text="${#temporals.format(order.finishedAt, 'dd.MM.yyyy')}"></td>
                                        <td>
                                            <a th:href="@{/orders/{id}/update(id=${order.id})}"
                                               class="btn btn-primary btn-sm">
                                                <i class="bi bi-pencil"></i>
                                            </a>

                                            <a th:href="@{/orders/{id}/delete(id=${order.id})}"
                                               class="btn btn-danger btn-sm">
                                                <i class="bi bi-trash"></i>
                                            </a>

                                            <a th:href="@{/orders/{id}/disableProgress(id=${order.id})}"
                                               class="btn btn-warning btn-sm">
                                                <i class="bi bi-arrow-clockwise"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const resetForm = () => {
        document.getElementById('student').value = null;
        document.getElementById('book').value = null;
        window.location.href = '/orders';
    }
</script>

</body>
</html>