<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" href=""/>
    <link rel="stylesheet" th:href="@{/css/containers.css}" href="">
</head>
<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="category w-100 d-flex justify-content-center align-items-center">
        <div class="container-fluid">
            <div class="card col-lg-7 col-md-6 col-sm-6 container-fluid flex justify-content-center p-4">
                <div class="card-header rounded d-flex justify-content-center mb-3">
                    <h2 class="mb-0"> Add New Book </h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/book}" th:object="${bookRequest}" method="POST"
                          enctype="multipart/form-data">
                        <div class="form-group mb-4">
                            <label for="isbn"> Book ISBN </label>
                            <input
                                    required
                                    min="1000000000000"
                                    max="9999999999999"
                                    type="number"
                                    id="isbn"
                                    name="name"
                                    th:field="*{isbn}"
                                    class="form-control"
                                    placeholder="Enter Book ISBN"
                            />
                            <span class="text-danger" id="isbnError"></span>
                        </div>

                        <div class="form-group mb-4">
                            <label for="name"> Book name </label>
                            <input
                                    required
                                    id="name"
                                    type="text"
                                    name="name"
                                    th:field="*{name}"
                                    class="form-control"
                                    placeholder="Enter Book name"
                            />
                        </div>

                        <div class="form-group mb-4">
                            <label for="stock"> Stock </label>
                            <input
                                    required
                                    min="1"
                                    name="stock"
                                    id="stock"
                                    type="number"
                                    th:field="*{stock}"
                                    class="form-control"
                                    placeholder="Enter Stock"
                            />
                        </div>

                        <div class="form-group">
                            <label for="category">Book Category</label>
                            <select required class="form-control selectpicker" th:field="*{categoryId}" id="category">
                                <option value="">Choose Book Category</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}">category
                                </option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="author">Book Author</label>
                            <select required class="form-control selectpicker" th:field="*{authorId}" id="author">
                                <option value="">Choose Book Author</option>
                                <option th:each="author : ${authors}"
                                        th:value="${author.id}"
                                        th:text="${author.fullName}">author
                                </option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label>Book Image</label>
                            <input
                                    required
                                    type="file"
                                    name="file"
                                    th:field="*{file}"
                                    class="form-control"
                                    placeholder="Enter Book Picture"/>
                        </div>

                        <div th:if="${exception != null}" class="alert alert-danger">
                            <p th:text="${exception}"></p>
                        </div>

                        <div class="d-flex align-items-center justify-content-end">
                            <button onclick="validateForm()" type="submit" class="btn btn-primary w-100">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        let isbn = document.getElementById("isbn");
        let isbnError = document.getElementById("isbnError");

        let isbnValue = isbn.value;
        let inputValueLength = isbnValue.length;

        if (inputValueLength !== 13)
            isbnError.textContent = "ISBN must be exactly 13 digits.";
        else if (isbnValue < 0 || isbnValue > 9999999999999)
            isbnError.textContent = "ISBN must be between 0 and 9999999999999.";
        else
            isbnError.textContent = "";
    }
</script>

</body>
</html>
