<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<title>Categories</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" th:href="@{/css/containers.css}" href="">
<link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" href="">
</head>
<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="category w-100">
        <div class="container-fluid my-2">
            <div class="card">
                <div class="card-header">
                    <div class="container-fluid d-flex justify-content-between align-items-center">
                        <h3 class="mb-0">Categories</h3>
                        <a th:href="@{/categories/new}" class="btn btn-primary">
                            <i class="bi bi-plus"></i> Add Category </i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid" style="display: flex">
                        <form th:action="@{/categories/search}">
                            <div class="d-flex justify-content-between align-items-center">
                                <input
                                        name="name"
                                        type="search"
                                        id="name"
                                        th:value="${param.name}"
                                        class="form-control mr-sm-2"
                                        placeholder="Search Category"
                                        aria-label="Search">
                                <button class="btn btn-primary">Search</button>
                                <button class="btn btn-done ml-2" type="button" onclick="resetForm()">Clear</button>
                            </div>
                        </form>


                        <form th:action="@{categories/search/books}">
                            <div class="d-flex justify-content-between align-items-center" style="margin-left: 70px;">
<!--                                <h2 th:case="null">No record found !!</h2>-->
                                <select class="form-control mr-sm-2" id="category" name="categoryId">
<!--                                   <h2 th:case="null">No record found !!</h2>-->
                                    <option value="">Search Book by Category</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}"
                                            th:selected="${category.id == param.categoryId}">
                                    </option>
                                </select>
                                <button class="btn btn-primary">Search</button>
                                <button class="btn btn-done ml-2" type="button" onclick="resetSearchByCategoryForm()">
                                    Clear
                                </button>
                            </div>
                        </form>
                    </div>

                    <div th:switch="${categories}" class="my-5">
                        <div class="col-md-12">
                            <h2 th:case="null">No record found !!</h2>
                            <div th:case="*">
                                <div class="d-flex justify-content-end align-items-center mb-3">
                                    <button type="button" class="btn btn-primary">
                                        Categories
                                        <span th:text="${categories.size()}" class="badge badge-light">4</span>
                                    </button>
                                </div>

                                <table class="table table-bordered table-hover table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th> ID</th>
                                        <th> Category Name</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="category: ${categories}" class="col-lg-6">
                                        <td th:text="${category.id}"></td>
                                        <td th:text="${category.name}"></td>

                                        <td class="w-25">

                                            <a th:href="@{/categories/{id}/update(id=${category.id})}"
                                               class="btn btn-primary btn-sm">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            <a th:href="@{/categories/{id}/remove(id=${category.id})}"
                                               class="btn btn-danger btn-sm">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const resetForm = () => {
        document.getElementById('name').value = '';
        window.location.href = '/categories';
    }

    const resetSearchByCategoryForm = () => {
        document.getElementById('id').value = null;
        window.location.href = '/categories';
    }





</script>
</body>
</html>






