<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add New Category </title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" href=""/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/containers.css}" href=""/>
</head>
<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="category w-100 d-flex justify-content-center align-items-center" style="margin-bottom: 15%">
        <div class="container-fluid">
            <div class="card col-lg-6 col-md-6 col-sm-6 container-fluid flex justify-content-center p-4">
                <div class="card-header rounded d-flex justify-content-center mb-3">
                    <h2 class="mb-0"> Add New Category </h2>
                </div>
                <div class="card-body" >
                    <form th:action="@{/categories}" th:object="${category}" method="POST"
                          enctype="multipart/form-data" >
                        <div class="form-group mb-4">
                            <label for="name"> Category Name </label>
                            <input
                                    required
                                    id="name"
                                    type="text"
                                    name="name"
                                    th:field="*{name}"
                                    class="form-control"
                                    placeholder="Enter Category Name"
                            />
                        </div>

                        <div th:if="${exception != null}" class="alert alert-danger">
                            <p th:text="${exception}"></p>
                        </div>

                        <div class="d-flex align-items-center justify-content-end">
                            <button type="submit" class="btn btn-primary w-100">
                                Submit
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!--<script>-->
<!--    function validateForm() {-->
<!--        let isbn = document.getElementById("isbn");-->
<!--        let isbnError = document.getElementById("isbnError");-->

<!--        let isbnValue = isbn.value;-->
<!--        let inputValueLength = isbnValue.length;-->

<!--        if (inputValueLength !== 13)-->
<!--            isbnError.textContent = "ISBN must be exactly 13 digits.";-->
<!--        else if (isbnValue < 0 || isbnValue > 9999999999999)-->
<!--            isbnError.textContent = "ISBN must be between 0 and 9999999999999.";-->
<!--        else-->
<!--            isbnError.textContent = "";-->
<!--    }-->
<!--</script>-->
</body>
</html>