<!DOCTYPE html>
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="ISO-8859-1">
    <title>Authors</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/containers.css}" href="">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" href=""/>
</head>
<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="category w-100">
        <div class="container-fluid my-2">
            <div class="card">
                <div class="card-header">
                    <div class="container-fluid d-flex justify-content-between align-items-center">
                        <h3 class="mb-0">Authors</h3>
                        <a th:href="@{/author/new}" class="btn btn-primary">
                            <i class="bi bi-plus"></i> Add Author </i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form th:action="@{/author/search}">
                            <div class="d-flex justify-content-between align-items-center">
                                <input
                                        name="query"
                                        type="search"
                                        id="query"
                                        th:value="${param.query}"
                                        class="form-control mr-sm-2"
                                        placeholder="Search Author by Name"
                                        aria-label="Search">
                                <button class="btn btn-primary">Search</button>
                                <button class="btn btn-done ml-2" type="button" onclick="resetForm()">Clear</button>
                            </div>
                        </form>
                    </div>
                    <div th:switch="${authors}" class="my-5">
                        <div class="col-md-12">
                            <h2 th:case="null">No record found !!</h2>
                            <div th:case="*">
                                <table class="table table-bordered table-hover table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th> Author Name</th>
                                        <th> Author phone</th>
                                        <th> Author email</th>
                                        <th> Author address</th>
                                        <th> Author birthDate</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="author: ${authors}" class="col-lg-6">
                                        <td>
                                            <a th:text="${author.fullName}"
                                               th:href="@{/authorBooks/${authorId}(auhordId=${author.id})}">
                                            </a>
                                        </td>
                                        <td th:text="${author.phone}"></td>
                                        <td th:text="${author.email}"></td>
                                        <td th:text="${author.address}"></td>
                                        <td th:text="${author.birthDate}"></td>
                                        <td>
                                            <a th:href="@{/author/{authorId}/edit(authorId=${author.id})}"
                                               class="btn btn-primary">
                                                <i class="bi bi-pencil"></i>
                                            </a>

                                            <a th:href="@{/{authorId}/delete(authorId=${author.id})}"
                                               class="btn btn-danger">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const resetForm = () => {
        document.getElementById('query').value = '';
        window.location.href = '/authors';
    }
</script>
</body>
</html>