<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update Author</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" href=""/>
    <link rel="stylesheet" th:href="@{/css/containers.css}" href="">
</head>
<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="category w-100 d-flex justify-content-center align-items-center">
        <div class="container-fluid">
            <div class="card col-lg-7 col-md-6 col-sm-6 container-fluid flex justify-content-center p-4">
                <div class="card-header rounded d-flex justify-content-center mb-3">
                    <h2 th:text="${author.fullName}" class="mb-0"></h2>
                </div>
                <div class="card-body">
                    <form role="form" method="post" th:action="@{/author/{authorId}/edit(authorId=${author.id})}"
                          th:object="${author}">
                        <div class="form-group">
                            <label> Author Name </label>
                            <input
                                    type="text"
                                    name="bookName"
                                    th:field="*{fullName}"
                                    class="form-control"
                                    placeholder="Enter Author  Name"
                            />
                        </div>

                        <div class="form-group">
                            <label> Author birthDate </label>
                            <input
                                    type="date"
                                    name="birthDate"
                                    th:field="*{birthDate}"
                                    class="form-control"
                                    placeholder="Enter Author birthDate"
                            />
                        </div>

                        <div class="form-group">
                            <label> Author email </label>
                            <input
                                    type="text"
                                    name="author"
                                    th:field="*{email}"
                                    class="form-control"
                                    placeholder="Enter Author Email"
                            />
                        </div>

                        <div class="form-group">
                            <label> Address </label>
                            <input
                                    type="text"
                                    name="address"
                                    th:field="*{address}"
                                    class="form-control"
                                    placeholder="Enter address"
                            />
                        </div>

                        <div class="form-group">
                            <label> Phone Number </label>
                            <input
                                    type="text"
                                    name="Phone Number"
                                    th:field="*{phone}"
                                    class="form-control"
                                    placeholder="Enter Phone Number"
                            />
                        </div>

                        <div class="d-flex align-items-center justify-content-end">
                            <button type="submit" class="btn btn-primary w-100">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>