<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="ISO-8859-1">
    <title>Book Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Book Management System</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>
<div class="container">
    <div class="row">
        <h1> List Book` </h1>
    </div>

    <div class="row gx-5">
        <div>
            <form th:action="@{/book/search/{isbn}(isbn=${bookRequest.getIsbn()})}" class="nav-link p-3">
                <input name="id" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search Book"
                       aria-label="Search">
            </form>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Isbn</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Author</th>
            <th>Category</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="book: ${books}" class="col-lg-6">
            <td th:text="${book.getId()}"></td>
            <td th:text="${book.getIsbn()}"></td>
            <td th:text="${book.getName()}"></td>
            <td th:text="${book.getStock()}"></td>
            <td th:text="${book.getAuthorName()}"></td>
            <td th:text="${book.getCategory()}"></td>

            <td>
                <a th:href="@{/book/{isbn}/update(isbn=${book.getIsbn()})}"
                   class="btn btn-primary">Update</a>

                <a th:href="@{/book/remove/{isbn}(isbn=${book.getIsbn()})}"
                   class="btn btn-danger">Delete</a>

                <!--                <a th:href="@{/orders/{id}/disableProgress(id=${order.id})}"-->
                <!--                   class="btn btn-danger">disableProgress</a>-->

            </td>
        </tr>

        </tbody>

    </table>
</div>
</body>
</html>