<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/containers.css}" href="">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" href=""/>
</head>
<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="books">
        <div class="container" style="width: 65%">
            <div class="row">
                <h1>List Book</h1>
            </div>

            <div class="row gx-5">
                <div>
                    <form th:action="@{/book/search}" class="nav-link p-3">
                        <input name="isbn" class="form-control mr-sm-2 mb-5" type="search"
                               placeholder="Search book by isbn"
                               aria-label="Search">
                    </form>
                </div>
            </div>

            <div class="row gx-5">
                <div>
                    <form th:action="@{/book/search/category}" class="nav-link p-3">
                        <input name="category" class="form-control mr-sm-2 mb-5" type="search"
                               placeholder="Search book by category"
                               aria-label="Search">
                    </form>
                </div>
            </div>

            <div class="row gx-5">
                <div>
                    <form th:action="@{/book/search/author}" class="nav-link p-3">
                        <input name="author" class="form-control mr-sm-2 mb-5" type="search"
                               placeholder="Search book by author"
                               aria-label="Search">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <a th:href="@{/book/add}" class="btn btn-primary btn-sm mb-3"> Add Book</a>
                </div>
            </div>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>Isbn</th>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${bookList}" class="col-lg-6">
                    <td th:text="${book.getId()}"></td>
                    <td th:text="${book.getIsbn()}"></td>
                    <td th:text="${book.getName()}"></td>
                    <td th:text="${book.getStock()}"></td>
                    <td th:text="${book.getAuthorName()}"></td>
                    <td th:text="${book.getCategory()}"></td>
                    <td>
                        <img th:src="@{/book/images/__${book.getImage()}__}" width="150" height="150"/>
                    </td>
                    <td>
                        <a th:href="@{/book/{isbn}/update(isbn=${book.getIsbn()})}"
                           class="btn btn-primary">Update</a>
                        <a th:href="@{/book/{isbn}/remove(isbn=${book.getIsbn()})}"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
