<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" href=""/>
    <link rel="stylesheet" th:href="@{/css/containers.css}" href="">
</head>
<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="category w-100 d-flex justify-content-center align-items-center">
        <div class="container-fluid">
            <div class="card col-lg-7 col-md-6 col-sm-6 container-fluid flex justify-content-center p-4">
                <div class="card-header rounded d-flex justify-content-center mb-3">
                    <h4 th:text="${book.isbn + ' - ' + book.name}" class="mb-0"></h4>
                </div>
                <div class="card-body">
                    <form role="form" method="post"
                          th:action="@{/book/{isbn}/update(isbn=${bookRequest.getIsbn()})}"
                          th:object="${book}" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="form-group mb-4">
                                <label for="isbn"> Book ISBN </label>
                                <input
                                        required
                                        id="isbn"
                                        type="text"
                                        name="name"
                                        th:field="*{isbn}"
                                        class="form-control"
                                        placeholder="Enter Book ISBN"
                                />
                            </div>

                            <div class="form-group mb-4">
                                <label for="name"> Book name </label>
                                <input
                                        required
                                        id="name"
                                        type="text"
                                        name="name"
                                        th:field="*{name}"
                                        class="form-control"
                                        placeholder="Enter Book name"
                                />
                            </div>

                            <div class="form-group mb-4">
                                <label for="stock"> Stock </label>
                                <input
                                        required
                                        type="number"
                                        name="stock"
                                        id="stock"
                                        th:field="*{stock}"
                                        class="form-control"
                                        placeholder="Enter Stock"
                                />
                            </div>

                            <div class="form-group">
                                <label for="category">Book Category</label>
                                <select required class="form-control selectpicker" th:field="*{categoryId}"
                                        id="category">
                                    <option value="">Choose Book Category</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}">category
                                    </option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="author">Book Author</label>
                                <select required class="form-control selectpicker" th:field="*{authorId}" id="author">
                                    <option value="">Choose Book Author</option>
                                    <option th:each="author : ${authors}"
                                            th:value="${author.id}"
                                            th:text="${author.fullName}">author
                                    </option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label>Book Picture</label>
                                <input required type="file" name="file" th:field="*{file}" class="form-control"
                                       placeholder="Enter Book Picture"/>
                            </div>

                            <div class="d-flex align-items-center justify-content-end">
                                <button type="submit" class="btn btn-primary w-100">
                                    Submit
                                </button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
