<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Students</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/containers.css}" href="">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" href=""/>

</head>
<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="category w-100">
        <div class="container-fluid my-2">
            <div class="card">
                <div class="card-header">
                    <div class="container-fluid d-flex justify-content-between align-items-center">
                        <h3 class="mb-0">Categories</h3>
                        <a th:href="@{/categories/new}" class="btn btn-primary">
                            <i class="bi bi-plus"></i> Add Category </i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div th:switch="${categories}" class="my-5">
                        <div class="col-md-12">
                            <h2 th:case="null">No record found !!</h2>
                            <div th:case="*">
                                <table class="table table-bordered table-hover table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Category Name</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="category : ${categories}">
                                        <td th:text="${category.id}"></td>
                                        <td th:text="${category.name}"></td>
                                        <td>
                                            <a th:href="@{/update/{id}(id=${category.id})}"
                                               class="btn btn-primary">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            <a th:href="@{/remove/{id}(id=${category.id})}"
                                               class="btn btn-danger">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>