<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewreport" content="width=device-width, initial-scale=1.0">
    <title>
        Home Page
    </title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href=""/>
</head>
<body style="display: flex">

<div th:insert="navbar/header :: header"></div>
<section style=" background-position: center; background-size: cover;">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Book Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{authors}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/book}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/students}">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/categories}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/orders}">Orders</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <img th:src="@{img/R.jpeg}" alt="Avatar2" style="height: 93%; width: 100%"/>


    <!--    <div class="row" style="width: 50%;justify-content: center">-->
    <!--        <div class="col-sm-6">-->
    <!--            <div class="card">-->
    <!--                <img class="card-img-top" th:src="@{img/R.jpeg}" alt="Card image cap">-->
    <!--                <div class="card-body">-->
    <!--                    <h5 class="card-title">Special title treatment</h5>-->
    <!--                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
    <!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-sm-6">-->
    <!--            <div class="card">-->
    <!--                <img class="card-img-top" th:src="@{img/.jpeg}" alt="Card image cap">-->
    <!--                <div class="card-body">-->
    <!--                    <h5 class="card-title">Special title treatment</h5>-->
    <!--                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
    <!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <br>-->
    <!--    <div class="row" style="width: 50%;justify-content: center">-->
    <!--        <div class="col-sm-6">-->
    <!--            <div class="card">-->
    <!--                <img class="card-img-top" th:src="@{img/R.jpeg}" alt="Card image cap">-->
    <!--                <div class="card-body">-->
    <!--                    <h5 class="card-title">Special title treatment</h5>-->
    <!--                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
    <!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-sm-6">-->
    <!--            <div class="card">-->
    <!--                <img class="card-img-top" th:src="@{img/

    .jpeg}" alt="Card image cap">-->
    <!--                <div class="card-body">-->
    <!--                    <h5 class="card-title">Special title treatment</h5>-->
    <!--                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
    <!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</section>
</body>
</html>