<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 40px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        .container {
            max-width: 450px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Login</h1>

    <form class="w-100" action="#" th:action="@{/login}" th:object="${login}" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input
                    required
                    type="email"
                    name="email"
                    id="email"
                    th:field="*{email}"
                    class="form-control"
                    placeholder="Enter Email"
                    aria-label="Email"
                    aria-describedby="email-error">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input
                    required
                    type="password"
                    name="password"
                    minlength="8"
                    id="password"
                    th:field="*{password}"
                    class="form-control"
                    placeholder="Enter Password"
                    aria-label="Password"
                    aria-describedby="password-error">
        </div>
        <div th:if="${exception!=null}" class="alert alert-danger">
            <p th:text="${exception}"></p>
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-4">Login</button>
    </form>

    <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
