<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 40px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        .container {
            max-width: 450px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Login</h1>

    <form class="w-100" action="#" th:action="@{/login}" th:object="${login}" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input
                    required
                    type="email"
                    name="email"
                    id="email"
                    th:field="*{email}"
                    class="form-control"
                    placeholder="Enter Email">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input
                    required
                    type="password"
                    name="password"
                    minlength="8"
                    id="password"
                    th:field="*{password}"
                    class="form-control"
                    placeholder="Enter Password">
        </div>
        <div th:if="${error != null}"  class="alert alert-danger" role="alert">
            <p th:text="${error}" class="mb-0"></p>
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-4">Login</button>

        <!--        <script th:inline="javascript">-->
        <!--            var jwtToken = [[#{token}]];-->


        <!--            // Make an AJAX request with the JWT token in the Authorization header-->
        <!--            var xhr = new XMLHttpRequest();-->
        <!--            xhr.open('GET', 'http://localhost:8080/about');-->
        <!--            xhr.setRequestHeader('Authorization', 'Bearer ' + jwtToken);-->
        <!--            xhr.onreadystatechange = function () {-->
        <!--                if (xhr.readyState === 4 && xhr.status === 200) {-->
        <!--                    // Handle the response-->
        <!--                    var response = JSON.parse(xhr.responseText);-->
        <!--                    console.log(response);-->
        <!--                }-->
        <!--            };-->
        <!--            xhr.send();-->
        <!--        </script>-->

    </form>

    <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
