<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 40px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        .container {
            max-width: 450px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Registration</h1>

    <form action="#" th:action="@{/register}" th:object="${register}" method="post">
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" name="firstname" id="firstname" th:field="*{firstname}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" name="lastname" id="lastname" th:field="*{lastname}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" th:field="*{email}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" minlength="8" name="password" id="password" th:field="*{password}"
                   class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Register</button>
        <div th:if="${param.error}">
            <p class="error">Email cannot same.</p>
        </div>
    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
