<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Student Category</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/containers.css}"/>

</head>

<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="category w-100 d-flex justify-content-center align-items-center">
        <div class="container-fluid">
            <div class="card col-lg-7 col-md-6 col-sm-6 container-fluid flex justify-content-center p-4">
                <div class="card-header rounded d-flex justify-content-center mb-3">
                    <h2 th:text="${student.name + ' ' + student.surname}" class="mb-0"></h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/students/{id}/update(id=${student.id})}" th:object="${student}"
                          method="POST"
                          enctype="multipart/form-data">
                        <div class="form-group mb-4">
                            <label for="name"> Student Name </label>
                            <input
                                    id="name"
                                    type="text"
                                    name="name"
                                    th:field="*{name}"
                                    class="form-control"
                                    placeholder="Enter Student Name"
                            />
                        </div>

                        <div class="form-group mb-4">
                            <label for="surname"> Student Surname </label>
                            <input
                                    id="surname"
                                    type="text"
                                    name="surname"
                                    th:field="*{surname}"
                                    class="form-control"
                                    placeholder="Enter Student Surname"
                            />
                        </div>

                        <div class="form-group mb-4">
                            <label for="studentFIN"> Student FIN </label>
                            <input
                                    type="text"
                                    name="studentFIN"
                                    id="studentFIN"
                                    th:field="*{studentFIN}"
                                    class="form-control"
                                    placeholder="Enter Student FIN"
                            />
                        </div>

                        <div class="form-group mb-5">
                            <label for="faculty"> Student Faculty </label>
                            <input
                                    type="text"
                                    id="faculty"
                                    name="faculty"
                                    th:field="*{faculty}"
                                    class="form-control"
                                    placeholder="Enter Student Faculty"
                            />
                        </div>

                        <div class="d-flex align-items-center justify-content-end">
                            <button type="submit" class="btn btn-primary w-100">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>