<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add New Student </title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" href=""/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/containers.css}" href=""/>
</head>
<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="categories">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container flex justify-content-center card">
                    <h1 class="text-center"> Create New Student </h1>
                    <div class="card-body">
                        <form th:action="@{/students}" th:object="${student}" method="POST"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <label> Student Name </label>
                                <input
                                        type="text"
                                        name="name"
                                        th:field="*{name}"
                                        class="form-control"
                                        placeholder="Enter Student Name"
                                />
                            </div>

                            <div class="form-group">
                                <label> Student Surname </label>
                                <input
                                        type="text"
                                        name="name"
                                        th:field="*{surname}"
                                        class="form-control"
                                        placeholder="Enter Student Surname"
                                />
                            </div>

                            <div class="form-group">
                                <label> Student FIN </label>
                                <input
                                        type="text"
                                        name="name"
                                        th:field="*{studentFIN}"
                                        class="form-control"
                                        placeholder="Enter Student FIN"
                                />
                            </div>

                            <div class="form-group">
                                <label> Student Faculty </label>
                                <input
                                        type="text"
                                        name="name"
                                        th:field="*{faculty}"
                                        class="form-control"
                                        placeholder="Enter Student Faculty"
                                />
                            </div>

                            <div class="box-footer flex justify-end">
                                <button type="submit" class="btn btn-warning">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>