<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add New Student </title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}" href=""/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/containers.css}" href=""/>
</head>
<body>
<div class="main">
    <div th:insert="navbar/sidebar :: sidebar"></div>
    <div class="category w-100 d-flex justify-content-center align-items-center">
        <div class="container-fluid">
            <div class="card col-lg-7 col-md-6 col-sm-6 container-fluid flex justify-content-center p-4">
                <div class="card-header rounded d-flex justify-content-center mb-3">
                    <h2 class="mb-0"> Add New Student </h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/students}" th:object="${student}" method="POST"
                          enctype="multipart/form-data">
                        <div class="form-group mb-4">
                            <label for="name"> Student Name </label>
                            <input
                                    required
                                    id="name"
                                    type="text"
                                    name="name"
                                    th:field="*{name}"
                                    class="form-control"
                                    placeholder="Enter Student Name"
                            />
                        </div>

                        <div class="form-group mb-4">
                            <label for="surname"> Student Surname </label>
                            <input
                                    required
                                    id="surname"
                                    type="text"
                                    name="surname"
                                    th:field="*{surname}"
                                    class="form-control"
                                    placeholder="Enter Student Surname"
                            />
                        </div>

                        <div class="form-group mb-4">
                            <label for="studentFIN"> Student FIN </label>
                            <input
                                    required
                                    type="text"
                                    name="studentFIN"
                                    id="studentFIN"
                                    minlength="7"
                                    maxlength="7"
                                    th:field="*{studentFIN}"
                                    class="form-control"
                                    placeholder="Enter Student FIN"
                            />
                        </div>

                        <div class="form-group mb-5">
                            <label for="faculty"> Student Faculty </label>
                            <input
                                    required
                                    type="text"
                                    id="faculty"
                                    name="faculty"
                                    th:field="*{faculty}"
                                    class="form-control"
                                    placeholder="Enter Student Faculty"
                            />
                        </div>

                        <div class="d-flex align-items-center justify-content-end">
                            <button type="submit" class="btn btn-primary w-100">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>